@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
}
 * {
    margin: 0px;
    padding: 0px;
 }

.bg-color {
    /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
    background-color: black;
}

/* navbar starts here */

nav {
    width: 80%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav h1 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2.25rem;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 0%;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 67px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    height: 46px;
}


nav li {
    list-style: none;
    width: 64px;
}

.home-btn {
    position: relative;
    left: 3px;
    width: 100%;
    height: 38px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 10px 20px;
}

.menu-bar {
    width: 24px;
    height: 24px;
    margin: 0px;
    font-size: 2rem;
    margin-bottom: 15px;
    display: none;
}


/* navbar ends here */

/* responsive for mobile devices  */

@media screen and (max-width: 576px) {
    .menu-bar {
        display: block;
    }
    nav ul {
        display: none;
    }
}